* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(25, 25, 25);
}

.movingbar {
  transform: translateX(0px) !important;
}

.macsidebar {
  position: fixed;
  top: 9vh;
  left: 3px;
  transform: translateX(-120%);
  transition: transform 0.15s ease;
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
  padding-inline: 8px;
  height: 90vh;
  z-index: 10000000;
  border-radius: 5px;
  padding-block: 10px;
  overflow: auto;
}

.macsidebar img {
  width: 38px;
  margin-top: 2px;
}

.macsidebar a {
  display: block;
  transition: transform 0.2s ease;
}

.macsidebar a:hover {
  transform: scale(1.15);
}

.nav {
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-inline: 100px;
  position: sticky;
  top: 0;
  background-color: rgba(25, 25, 25, 0.9);
  gap: 10px;
  z-index: 100;
}

.nav-link {
  padding-block: 10px;
  padding-inline: 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  margin-block: 5px;
  position: relative;
  color: white;
  transition: background-color 0.15s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  margin-right: 30px;
  height: 32px;
}

.logo img {
  height: 32px;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.profile {
  box-sizing: content-box;
  height: 32px;
  width: 32px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.select {
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  appearance: none;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  text-align: center;
  margin-block: 5px;
  z-index: 100000;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  transition: background-color 0.15s ease;
}

.select:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.caret {
  width: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

#cats {
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 33px;
  width: 100%;
  transform-origin: top;
  left: 0;
  display: flex;
  transition: transform 0.15s ease !important;
  padding-bottom: 5px;
  transform: scaleY(0);
}

#cats a {
  color: rgb(130, 130, 130);
  text-decoration: none;
  padding-block: 10px;
  font-size: 17px;
  transition: color 0.15s ease;
  font-weight: normal;
}

#cats a:hover {
  color: white;
}

.wrap {
  width: 100%;
  padding-inline: 100px;
  padding-bottom: 50px;
}

.hero {
  text-align: center;
  padding-block: 50px;
  color: white;
}

.hero-title {
  font-size: 40px;
  padding-bottom: 20px;
}

.hero-des {
  font-size: 20px;
  line-height: 32px;
}

.hero-des a {
  color: white;
}

.section-title {
  color: white;
  font-size: 30px;
  text-align: center;
  padding-block: 30px;
  padding-top: 50px;
}

.section-title:first-of-type {
  padding-top: 0;
}

.apps {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.app {
  width: 190px;
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 20px;
  padding-inline: 5px;
  gap: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.app p:not(.text) {
  font-size: 16px;
  padding-inline: 15px;
  font-weight: normal;
}

.app img {
  width: 55%;
}

.action-btn {
  background-color: rgb(73, 31, 135);
  padding-block: 13px;
  font-size: 18px;
  box-shadow: 0px 0px 8px rgb(60, 60, 60);
  text-align: center;
  display: block;
  width: 13%;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 15px;
  margin-inline: 43.5%;
  transition: box-shadow 0.3s ease;
}

.action-btn:hover {
  box-shadow: 0px 0px 18px rgb(60, 60, 60);
}

.action-btn:active {
  box-shadow: 0px 0px 5px rgb(60, 60, 60);
}

.wrapp {
  width: 100%;
  height: calc(100vh - 52px);
  display: flex;
}

.sidebar {
  height: calc(100% - 15px);
  min-width: 230px;
  max-width: 230px;
  list-style-type: none;
  padding-bottom: 60px;
  margin-left: 80px;
  margin-top: 15px;
  padding-right: 20px;
  overflow: auto;
}

.sidebar-title {
  color: white;
  font-size: 20px;
  padding-block: 30px;
  padding-left: 20px;
  box-sizing: content-box;
}

.sidebar a,
.syear {
  text-decoration: none;
  display: block;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  width: 100%;
  color: rgb(215, 215, 215);
  margin-bottom: 5px;
  cursor: pointer;
}

.syear {
  font-weight: bold;
}

.yearclose {
  height: 0px;
  box-sizing: content-box;
  position: relative;
}

.yearclose a {
  display: none;
  padding: 0;
}

.sidebar a:hover {
  background-color: rgb(35, 35, 35);
}

.content {
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
}

.table-contents {
  margin-block: 30px;
}

#menulinks a {
  text-decoration: none;
  display: block;
  color: rgb(215, 215, 215);
  margin-top: 25px;
  cursor: pointer;
}

#menulinks a:hover {
  text-decoration: underline;
}

.sidebar-menu {
  display: none;
}

.article {
  margin-right: 100px;
  margin-left: 50px;
  color: rgb(215, 215, 215);
}

.article-title {
  padding-inline: 0;
  font-size: 40px;
  padding-block: 40px;
  color: rgb(215, 215, 215);
}

.article p {
  padding: 20px;
  padding-inline: 0;
  font-size: 18px;
  color: rgb(215, 215, 215);
  line-height: 28px;
  margin-top: 0 !important;
}

.article hr {
  width: 100%;
  margin-inline: 0;
  height: 5px;
  border: none;
  background-color: rgb(42, 73, 175);
  border-radius: 20px;
}

.article ul {
  list-style-position: inside;
}

.article-subheading {
  color: white;
  padding-block: 30px;
  font-size: 25px;
}

.author {
  padding-inline: 0;
  color: rgb(215, 215, 215);
  font-size: 20px;
  padding-block: 2%;
  display: flex;
  align-items: center;
  width: 100%;
}

.date {
  display: block;
  color: rgb(171, 171, 171);
  padding-left: 10px;
  font-size: 15px;
  align-self: flex-end;
}

.bold {
  padding-block: 30px;
  display: block;
  font-size: 28px;
}

.post-title {
  color: white;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  padding-block: 50px;
}

.post-subheader {
  font-size: 25px;
  padding-block: 10px;
  color: white;
}

.paragraph {
  color: rgb(215, 215, 215);
  font-size: 18px;
  padding-block: 20px;
  line-height: 30px;
}

.post-date {
  font-size: 18px;
  color: white;
}

.post-paragraph {
  color: white;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.post-list {
  color: white;
  padding-inline: 20px;
  font-size: 20px;
  padding-bottom: 10px;
}

.post-list li {
  margin-bottom: 20px;
}

.timeline {
  display: flex;
  padding-block: 50px;
  margin-inline: 10%;
  justify-content: space-between;
}

.milestone {
  background-color: rgb(15, 15, 15);
  border-radius: 5px;
  width: 30%;
  text-align: center;
  padding: 15px;
  position: relative;
  color: white;
}

.milestone::before {
  content: "";
  background-color: white;
  width: 3px;
  height: 40px;
  position: absolute;
  top: -50px;
  left: calc(50% - 1.5px);
}

.timeline:first-of-type .milestone::before {
  top: initial;
  bottom: -50px;
}

.milestone-des {
  font-size: 17px;
  line-height: 25px;
}

.milstone-date {
  font-size: 22px;
}

.timeline:first-of-type {
  border-bottom: 3px solid white;
}

.footer {
  background-color: black;
  width: 100%;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer a {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgb(25, 25, 25);
}

.modal-background {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: rgb(15, 15, 15);
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 50px rgb(60, 60, 60);
  position: relative;
}

.modal-title {
  font-size: 25px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

.modal-des {
  color: rgb(180, 180, 180);
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 30px;
}

.modal-img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.modal-link {
  background-color: rgb(73, 31, 135);
  color: white;
  text-decoration: none;
  width: 40%;
  margin-inline: 30%;
  display: block;
  text-align: center;
  padding-block: 10px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.modal-link:hover {
  background-color: rgb(59, 25, 110);
}

.modal-link:active {
  background-color: rgb(44, 19, 82);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.modal-close:hover {
  transform: scale(1.4);
}

.modal-close:active {
  transform: scale(0.9);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(25, 25, 25);
}

.movingbar {
  transform: translateX(0px) !important;
}

.macsidebar {
  position: fixed;
  top: 9vh;
  left: 3px;
  transform: translateX(-120%);
  transition: transform 0.15s ease;
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.9);
  padding-inline: 8px;
  height: 90vh;
  z-index: 10000000;
  border-radius: 5px;
  padding-block: 10px;
  overflow: auto;
}

.macsidebar img {
  width: 38px;
  margin-top: 2px;
}

.macsidebar a {
  display: block;
  transition: transform 0.2s ease;
}

.macsidebar a:hover {
  transform: scale(1.15);
}

.nav {
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-inline: 100px;
  position: sticky;
  top: 0;
  background-color: rgba(25, 25, 25, 0.9);
  gap: 10px;
  z-index: 100;
}

.nav-link {
  padding-block: 10px;
  padding-inline: 15px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  margin-block: 5px;
  position: relative;
  color: white;
  transition: background-color 0.15s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  margin-right: 30px;
  height: 32px;
}

.logo img {
  height: 32px;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}

.profile {
  box-sizing: content-box;
  height: 32px;
  width: 32px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.15s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.select {
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  appearance: none;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  text-align: center;
  margin-block: 5px;
  z-index: 100000;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  transition: background-color 0.15s ease;
}

.select:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.caret {
  width: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

#cats {
  flex-direction: column;
  border-radius: 0px 0px 5px 5px;
  background-color: rgba(15, 15, 15, 0.8);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 33px;
  width: 100%;
  transform-origin: top;
  left: 0;
  display: flex;
  transition: transform 0.15s ease !important;
  padding-bottom: 5px;
  transform: scaleY(0);
}

#cats a {
  color: rgb(130, 130, 130);
  text-decoration: none;
  padding-block: 10px;
  font-size: 17px;
  transition: color 0.15s ease;
  font-weight: normal;
}

#cats a:hover {
  color: white;
}

.wrapp {
  width: 100%;
  height: calc(100vh - 52px);
  display: flex;
}

.sidebar {
  height: calc(100% - 15px);
  min-width: 230px;
  max-width: 230px;
  list-style-type: none;
  padding-bottom: 60px;
  margin-left: 80px;
  margin-top: 15px;
  padding-right: 20px;
  overflow: auto;
}

.sidebar-title {
  color: white;
  font-size: 20px;
  padding-block: 30px;
  padding-left: 20px;
  box-sizing: content-box;
}

.sidebar a,
.syear {
  text-decoration: none;
  display: block;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
  width: 100%;
  color: rgb(215, 215, 215);
  margin-bottom: 5px;
  cursor: pointer;
}

.syear {
  font-weight: bold;
  font-size: 16px;
}

.yearclose {
  height: 0px;
  box-sizing: content-box;
  position: relative;
}

.yearclose a {
  display: none;
  padding: 0;
}

.sidebar a:hover {
  background-color: rgb(35, 35, 35);
}

.content {
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
}

.table-contents {
  margin-block: 30px;
}

.main-art {
  margin-top: 40px;
}

#otherslist {
  margin-bottom: 50px;
}

#menulinks a {
  text-decoration: none;
  display: block;
  color: rgb(215, 215, 215);
  margin-top: 25px;
  cursor: pointer;
}

#menulinks a:hover {
  text-decoration: underline;
}

.sidebar-menu {
  display: none;
}

.article {
  margin-right: 100px;
  margin-left: 50px;
  color: rgb(215, 215, 215);
}

.article-title {
  padding-inline: 0;
  font-size: 40px;
  padding-block: 40px;
  color: rgb(215, 215, 215);
}

.article p {
  padding: 20px;
  padding-inline: 0;
  font-size: 18px;
  color: rgb(215, 215, 215);
  line-height: 28px;
  margin-top: 0 !important;
}

.article hr {
  width: 100%;
  margin-inline: 0;
  height: 5px;
  border: none;
  background-color: rgb(42, 73, 175);
  border-radius: 20px;
}

.article ul {
  list-style-position: inside;
}

.article-subheading {
  color: white;
  padding-block: 30px;
  font-size: 25px;
}

.author {
  padding-inline: 0;
  color: rgb(215, 215, 215);
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-block: 10px;
}

.bold {
  padding-block: 30px;
  display: block;
  font-size: 28px;
}

.post-title {
  color: white;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  padding-block: 50px;
}

.post-subheader {
  font-size: 25px;
  padding-block: 10px;
  color: white;
}

.paragraph {
  color: rgb(215, 215, 215);
  font-size: 18px;
  padding-block: 20px;
  line-height: 30px;
}

.post-date {
  font-size: 18px;
  color: white;
}

.post-paragraph {
  color: white;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.post-list {
  color: white;
  padding-inline: 20px;
  font-size: 20px;
  padding-bottom: 10px;
}

.post-list li {
  margin-bottom: 20px;
}

footer {
  width: 100%;
  padding-block: 30px;
  color: rgb(215, 215, 215);
  text-align: center;
}

footer a {
  color: rgb(215, 215, 215);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  border: 3px solid rgb(25, 25, 25);
}
